<h1>New comment for <%= @comment.campaign.title %></h1>
<h2>Please fill the form below: </h2>
<%= render partial: "shared/errors", locals: {obj: @comment} %>
<%= form_for [@campaign, @comment] do |f| %>
  <p>
    <% unless current_user %>
      <%= f.label :author, "Author:" %>
      <%= f.text_field :author %>
    <% else %>
      <%= f.hidden_field :author, :value => current_user.name %>
    <% end %>
  </p>
  <p>
    <%= f.label :message, "Message: " %>
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.hidden_field :campaign_id, :value => params[:campaign_id] %>
  </p>
  <p>
    <%= f.submit "Save" %>
    <%= link_to "Cancel", campaign_path(@comment.campaign) %>
  </p>
<% end %>