<h1><%= @campaign.title %></h1>

<% if flash[:notice] %>
  <p style="background: yellow">
    <%= flash[:notice] %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Likes</th>
      <th>Description</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Created By</th>
      <th>Location</th>
      <th>Raised</th>
      <th>Goal</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to (image_tag @campaign.imageurl, :size => "80x100"), @campaign.imageurl %></td>
      <td><%= @campaign.likes %></td>
      <td><%= @campaign.description %></td>
      <td><%= @campaign.category %></td>
      <td><%= nice_date(@campaign.created_at) %></td>
      <td><%= @campaign.user.name %></td>
      <td><%= @campaign.user.city %>, <%= @campaign.user.country %></td>
      <td></td>
      <td><%= @campaign.goal %></td>
      <td><%= nice_date(@campaign.ended_at) %></td>
    </tr>
    <tr>
      <%if(current_user && current_user.id==@campaign.user_id)%>
        <div>
          <%= link_to "Edit", edit_campaign_path %>
        </div>
      <%end%>

    </tr>
  </tbody>
</table>