<!DOCTYPE html>
<html>
  <head>
    <title>FundNHelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <table>
      <tbody>
        <td><%= link_to "Home", root_path %></td>
        <td><%= link_to "Login", new_session_path %></td>
        <td><%= link_to "Sign Up", new_user_path %></td>
        <% if current_user %>Signed in as <%= current_user.name %><% end %>
      </tbody>
    </table>

    <%= yield %>
  </body>
</html>
