<!DOCTYPE html>
<html>
  <head>
    <title>FundNHelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <nav class= "navbar-custom">
      <div class ="container-fluid">
        <div class="navbar-header">
          <%= link_to root_path do %>
            <p class="intro-text">Fund N' Help</p>
          <% end %>
        </div>
    <ul class="navbar-nav">
      <li>
        <%= link_to campaigns_path do %>
          Campaigns
        <% end %>
      </li>
        <% unless current_user %>
          <li>
            <%= link_to new_user_path do %>
              Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              Login
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_campaign_path do %>
              Start a Campaign
            <% end %>
          </li>
          <li>
            <%= link_to user_path do %>
              Profile
            <% end %>
          </li>
          <li>
            <%= link_to logout_path do %>
              Log Out
            <% end %>
          </li>
          <% if current_user %>Signed in as <%= current_user.name %><% end %>
        <% end %>
    </ul>
  </div>

</nav>
=======

    <table>
      <tbody>
        <td><%= link_to "Home", root_path %></td>
        <td><%= link_to "Campaigns", campaigns_path %></td>
        <% unless current_user %>
          <td><%= link_to "Sign Up", new_user_path %></td>
          <td><%= link_to "Login", login_path %></td>
        <% else %>
          <td><%= link_to "Start a Campaign", new_campaign_path %></td>
          <td><%= link_to "My Dashboard", dashboard_campaigns_path %></td>
          <td><%= link_to "Profile", user_path %></td>
          <td><%= link_to "Log Out", logout_path %></td>
          <% if current_user %>Signed in as <%= current_user.name %><% end %>
        <% end %>
      </tbody>
    </table>
>>>>>>> fedf8d17ec369d643db6278ca73c1ff5e75ad709

    <%= yield %>
  </body>
</html>
